.video-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 0; /* Loại bỏ khoảng trống bên trái */
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    padding: 10px; /* Thêm padding để tạo khoảng cách bên trong */
}

.item-wrapper {
    display: flex;
    flex-direction: column; /* Sắp xếp các phần tử theo chiều dọc */
    gap: 5px; /* Khoảng cách giữa AccountItem và LiveCamera */
    margin: 5px; /* Khoảng cách giữa các item-wrapper */
}
